</div>
    <div id="footer" class="footer">
      <div class="progress progress-striped">
        <div role="progressbar" style="width:100%;" class="progress-bar progress-bar-info active"></div>
      </div>
      <footer>
        <p><a href="/before/index">Zhang Wei Jin [@2015] All Right Reserved</a></p>
      </footer>
    </div>
  </body>
</html>